* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.title {
    text-align: center;
    background-color: darkgreen;
    color: white;
    width: 100%;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 1;
}
.title-content{
    float: none;

}
.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    font-size: 25px;

    position: relative;
    top: 5px;
    transition: 0.2s ease-in-out;
}
.back-button:hover{
    opacity: 0.5;
}
.left-side-nav-bar{
    display: flex;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(1, 54, 18);
    border-radius: 10px;
    width: 15%;
    height: 89.5%;
    margin-left: 5px;
    margin-top: 5px;
}
@keyframes slideInLeft{
    from {
        transform: translateX(-110px);
    }
    to{
        transform: translate(0);
    }
}
.left-side-nav-bar ul{
    list-style: none;
}
.left-side-nav-bar ul li{
    flex: 1;
    animation-name: slideInLeft;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    text-decoration: none;
    margin-top: 40px;
    font-size: 25px;
    transition: 0.2s ease-in-out;
}
.left-side-nav-bar ul li:hover{
    transform:translateX(20px) ;
}
.left-side-nav-bar ul li:active {
    opacity: 0.5;
}
.left-side-nav-bar ul li a{
    background-color: rgb(1, 54, 18);
    color: white;
    text-decoration: none;
    border-radius: 2px;
}
.left-side-nav-bar ul li a:hover{
    color: rgb(1, 54, 18);
    background-color: white;
    

}
a:is(:link, :active, :visited).active{
    color:black;
    background-color: white;
}
#profile{

    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
    
    position: relative;
    bottom: 43px;
    right: 10px;

}
.Content{
    background-color: green;
    border: 2px solid;
    border-radius: 10px;

    width: 80%;
    height: 89.5%;

    transform: translate(20%, -100%);
    position: relative;
}
.Content::before{
    content: "";
    background-image: url('../zimages/IMG_3922.jpg');
    background-size: cover;
    background-position: bottom;
    position: absolute;
    background-attachment: fixed;
    opacity: 0.7;
    inset: 0;
}
.Content h1{
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-size: 40px;
    background-color: rgb(1, 54, 18);
    color: white;
   position: relative;
}
.Sem{

    border: 1px solid;
    width: 100%;
    height: 100%;
}
.LoginBox {
    height: 60%;
    width: 50%;
    background-color: white;
    background-image: url(../zimages/Untitled_design-MGPQ7PCRl-transformed.png);
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    border-radius: 30px;
    border: 2px solid;
    isolation: isolate;
    position: relative;
    opacity: 0.9;
    transform: translate(50%, 25%);
}

.LoginBox::before {
    background-image: url('../zimages/Untitled_design-MGPQ7PCRl-transformed.png');
    background: cover;
    background-position: center;
    position: absolute;
    inset: 0;

}

.LoginBox h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 54, 18);
    font-size: 30px;
    width: 70%;
    height: 70px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;

    position: absolute;
    transform: translate(21%, 0);
}

#Enrollment-Button {
    border: none;
    border-radius: 10px;
    background-color: rgb(1, 54, 18);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 15px;
    opacity: 0.9;
    cursor: pointer;
    
    transform: translate(0, 290px);
    transition: 0.2s ease-in-out;


}
#Enrollment-Button:hover{
    opacity: 1;
    width: 260px;
    height: 60px;
    
    transform: translate(0, 285px);

}
#Enrollment-Button:active{
    opacity: 0.5;



}